{% extends 'core/index.html.twig' %}


{% block studies %}



    <div class="list-group-item disabled bg-orange text-dark font-italic font-weight-bold p-4">
        {{ case.nom }} - {{ case.resumeCourt }}

    </div>
    <div class="list-group-item p-4">
        {{ case.resumeLong | raw}}
    </div>
    <div class="list-group-item bg-light">
        <a href="{{ path('get_studies', { id: id }) }}" class="btn btn-outline-secondary btn-sm">Retour</a>

        {% if previd != "" %}
            <a href="{{ path('get_case', { dept: id, id: previd }) }}" class="btn btn-outline-secondary btn-sm">Précédent</a>
        {% endif %}

        {% if nextid != "" %}
        <a href="{{ path('get_case', { dept: id, id: nextid }) }}" class="btn btn-outline-secondary btn-sm">Suivant</a>
        {% endif %}
    </div>

{% endblock %}





{% block javascripts %}
    <script type="text/javascript">

        //**************
        // See about Jquery

        var id = '{{ id }}';
        var element = document.getElementById("_" + id);
        element.classList.add("sel-1");
    </script>
{% endblock %}